# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# App build
app/build/
app/release/

# Sensitive
app/google-services.json

# Kotlin
*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar

# OS
Thumbs.db
*.swp
*~
